.seat-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-row {
  margin-bottom: 10px;
}

.seat {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
}

.available {
  background-color: green;
  color: white;
}

.occupied {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.selected {
  background-color: yellow;
  color: black;
}

.seat.recently-booked {
  background-color: blue;
  animation: flashBlue 5s linear;
}

@keyframes flashBlue {
  0% {
    background-color: blue;
  }
  100% {
    background-color: #d3d3d3;
  }
}
